## 자료형을 자유자재로 변환하기

- astype 메서드

In [23]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore')

tips = sns.load_dataset("tips")
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

## 여러 가지 자료형을 문자열로 변환하기

In [24]:
# 자료형을 변환하려면 astype 메서드를 사용
# sex 열의 자료형은 카테고리-> 문자열로 변환하여 열에 저장
tips['sex_str'] =tips['sex'].astype(str)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

## 자료형을 반환한 데이터 다시 원래대로 만들기

In [25]:
tips['total_bill'] = tips['total_bill'].astype(str)
print(tips.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [26]:
# 문자열로 변환한 total_bill을 다시 실수로 변환
tips['total_bill'] = tips['total_bill'].astype(float)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

## 잘못 입력한 문자열 처리하기

- to_numeric 메서드

In [27]:
# total_bill 열의 1,3,5,7 행의 데이터를 'missing'으로 변경해서
# tips_sub_miss에 저장
tips_sub_miss = tips.head(10)
tips_sub_miss.loc[[1,3,5,7],'total_bill'] = 'missing'
print(tips_sub_miss)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

In [28]:
#missing 이라는 문자열 때문에 실수가 아니라 문자열로 변경
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [29]:
#판다스는 'missing'이라는 문자열을 실수로 변환하는 방법을 모름
tips_sub_miss['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [30]:
# to_numeric 메서드를 사용해도 문자열을 실수로 변환할 수 없다
pd.to_numeric(tips_sub_miss['total_bill'])

ValueError: Unable to parse string "missing" at position 1

In [31]:
tips_sub_miss['total_bill']=\
    pd.to_numeric(tips_sub_miss['total_bill'],errors='ignore')

print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [32]:
tips_sub_miss['total_bill']=\
    pd.to_numeric(tips_sub_miss['total_bill'],errors='false')

print(tips_sub_miss.dtypes)

ValueError: invalid error value specified

In [33]:
# 숫자로 변환할 수 없는 값을 누락값으로 지정
tips_sub_miss['total_bill']=\
    pd.to_numeric(tips_sub_miss['total_bill'],errors='coerce')

print(tips_sub_miss.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [34]:
tips_sub_miss.head()

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1         NaN  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3         NaN  3.31    Male     No  Sun  Dinner     2    Male
4       24.59  3.61  Female     No  Sun  Dinner     4  Female

In [35]:
#downcast는 자료형을 더 작은 형태로 만들 때 사용
#float64에서 float32로 변경됨
#float64는 float32보다 더 많은 실수를 표현할 수 있지만 
#메모리 공간을 2배 차지
#저장하려는 실수의 예상 범위가 크지 않다면 다운캐스트 하는 것도 좋음
tips_sub_miss['total_bill']=\
    pd.to_numeric(tips_sub_miss['total_bill'],errors='coerce',
                 downcast='float')

print(tips_sub_miss.dtypes)

total_bill     float32
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

## 문자열을 카테고리로 변환하기
* 문자열 자료형보다 카테고리 자료형을 사용하는 것이 용량과 속도 면에서 더 효율적

In [36]:
#sex 열의 자료형을 문자열로 변환, df 용량 확인
tips['sex'] = tips['sex'].astype('str')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB
None

In [37]:
#sex 열의 자료형을 카테고리로 변환, df 용량 확인(줄어듬)
tips['sex'] = tips['sex'].astype('category')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB
None

## apply 메서드 활용

- 사용자가 작성한 함수를 한번에 데이터프레임의 각 행과 열에 적용하여 실행할 수 있게 해 주는 메서드

## 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기

### 1, 데이터 프레임의 누락값 처리하기 - 열방향

In [39]:
import seaborn as sns

titanic = sns.load_dataset("titanic")
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [40]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [44]:
import numpy as np
# 누락값의 갯수 세는 함수
def count_missing(vec):
    null_vec = pd.isnull(vec)
    #print(null_vec)
    null_count = np.sum(null_vec)
    return null_count


cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [52]:
#prop_missing 누락값의 비율을 계산
#count_missing 함수를 이요하여 누락값의 개수를 구하고
#size속성을 이용하여 df의 전체 데이터 수를 구하여 나눔

def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    #print(f"누락값의 개수(num) -> {num}, 전체 데이터 수(dem) -> {dem}")
    return num/dem


pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [53]:
# 누락값이 아닌 데이터 비율을 구함
# 전체(1) - 누락값의 비율

def prop_complete(vec):
    return 1- prop_missing(vec)

pmis_coll = titanic.apply(prop_complete)
print(pmis_coll)

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

## 데이터 프레임의 누락값을 처리하기 - 행 방향

In [56]:
cmis_row = titanic.apply(count_missing,axis=1)
pmis_row = titanic.apply(prop_missing,axis=1)
pcom_row = titanic.apply(prop_complete,axis=1)
print(cmis_row)

0      1
1      0
2      1
3      0
4      1
      ..
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

In [57]:
print(pmis_row)

0      0.066667
1      0.000000
2      0.066667
3      0.000000
4      0.066667
         ...
886    0.066667
887    0.000000
888    0.133333
889    0.000000
890    0.066667
Length: 891, dtype: float64

In [58]:
print(pcom_row)

0      0.933333
1      1.000000
2      0.933333
3      1.000000
4      0.933333
         ...
886    0.933333
887    1.000000
888    0.866667
889    1.000000
890    0.933333
Length: 891, dtype: float64

In [59]:
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [60]:
# 누락값이 있는 데이터만 따로 모아옴
# 누락값이 2개 이상인 데이터 10개만 무작위로
print(titanic.loc[titanic.num_missing>1, :].sample(10))

     survived  pclass   sex  age  sibsp  parch     fare embarked   class  who  \
709         1       3  male  NaN      1      1  15.2458        C   Third  man
524         0       3  male  NaN      0      0   7.2292        C   Third  man
783         0       3  male  NaN      1      2  23.4500        S   Third  man
65          1       3  male  NaN      1      1  15.2458        C   Third  man
878         0       3  male  NaN      0      0   7.8958        S   Third  man
277         0       2  male  NaN      0      0   0.0000        S  Second  man
598         0       3  male  NaN      0      0   7.2250        C   Third  man
410         0       3  male  NaN      0      0   7.8958        S   Third  man
201         0       3  male  NaN      8      2  69.5500        S   Third  man
17          1       2  male  NaN      0      0  13.0000        S  Second  man

     adult_male deck  embark_town alive  alone  num_missing
709        True  NaN    Cherbourg   yes  False            2
524        True  NaN    Cherbourg    no   True            2
783        True  NaN  Southampton    no  False            2
65         True  NaN    Cherbourg   yes  False            2
878        True  NaN  Southampton    no   True            2
277        True  NaN  Southampton    no   True            2
598        True  NaN    Cherbourg    no   True            2
410        True  NaN  Southampton    no   True            2
201        True  NaN  Southampton    no  False            2
17         True  NaN  Southampton   yes   True            2