## 뉴욕 택시 데이터

- 13억 대의 뉴욕 택시에 대한 정보, 파일 -140개

In [5]:
import glob
import pandas as pd
# 비슷한 이름의 파일을 대량으로 한번에 불러옴
#glob 라이브러리에 포함된 glob 메서드는 특정한 패턴의 이름을 가진 
#파일을 한번에 읽어 들일 수 있습니다
nyc_taxi_data = glob.glob('../data/python_data/fhv_*')
print(nyc_taxi_data)

['../data/python_data\\fhv_tripdata_2015-01.csv', '../data/python_data\\fhv_tripdata_2015-02.csv', '../data/python_data\\fhv_tripdata_2015-03.csv', '../data/python_data\\fhv_tripdata_2015-04.csv', '../data/python_data\\fhv_tripdata_2015-05.csv']

In [6]:
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])
taxi4 = pd.read_csv(nyc_taxi_data[3])
taxi5 = pd.read_csv(nyc_taxi_data[4])

In [7]:
print(taxi1.head(n=2))
print(taxi2.head(n=2))
print(taxi3.head(n=2))
print(taxi4.head(n=2))
print(taxi5.head(n=2))

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN

In [8]:
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

(2746033, 3)
(3126401, 3)
(3281427, 3)
(3917789, 3)
(4296067, 3)

In [9]:
taxi = pd.concat([taxi1, taxi2, taxi3, taxi4,taxi5])
taxi.shape

(17367717, 3)

In [16]:
taxi

        Dispatching_base_num          Pickup_date  locationID
0                     B00013  2015-01-01 00:30:00         NaN
1                     B00013  2015-01-01 01:22:00         NaN
2                     B00013  2015-01-01 01:23:00         NaN
3                     B00013  2015-01-01 01:44:00         NaN
4                     B00013  2015-01-01 02:00:00         NaN
...                      ...                  ...         ...
4296062               B02821  2015-05-31 14:00:00         NaN
4296063               B02821  2015-05-31 14:32:00         NaN
4296064               B02821  2015-05-31 14:45:00         NaN
4296065               B02821  2015-05-31 17:44:00         NaN
4296066               B02821  2015-05-31 18:13:00         NaN

[17367717 rows x 3 columns]

## 반복문으로 데이터 준비하기

In [11]:
list_taxi_df = []

for csv_filename in nyc_taxi_data:
    print(csv_filename)
    df = pd.read_csv(csv_filename)
    list_taxi_df.append(df)
# 길이 확인 필수   
print(len(list_taxi_df))

../data/python_data\fhv_tripdata_2015-01.csv
../data/python_data\fhv_tripdata_2015-02.csv
../data/python_data\fhv_tripdata_2015-03.csv
../data/python_data\fhv_tripdata_2015-04.csv
../data/python_data\fhv_tripdata_2015-05.csv
5

In [17]:
list_taxi_df

[        Dispatching_base_num          Pickup_date  locationID
 0                     B00013  2015-01-01 00:30:00         NaN
 1                     B00013  2015-01-01 01:22:00         NaN
 2                     B00013  2015-01-01 01:23:00         NaN
 3                     B00013  2015-01-01 01:44:00         NaN
 4                     B00013  2015-01-01 02:00:00         NaN
 ...                      ...                  ...         ...
 2746028               B02765  2015-01-31 23:59:02       169.0
 2746029               B02765  2015-01-31 23:59:07        80.0
 2746030               B02765  2015-01-31 23:59:34       186.0
 2746031               B02765  2015-01-31 23:59:40       181.0
 2746032               B02765  2015-01-31 23:59:48        79.0

 [2746033 rows x 3 columns],
         Dispatching_base_num          Pickup_date  locationID
 0                     B00013  2015-02-01 00:00:00         NaN
 1                     B00013  2015-02-01 00:01:00         NaN
 2                     B00013  2015-02-01 00:21:00         NaN
 3                     B00013  2015-02-01 01:00:00         NaN
 4                     B00013  2015-02-01 02:10:00         NaN
 ...                      ...                  ...         ...
 3126396               B02765  2015-02-28 23:59:32       230.0
 3126397               B02765  2015-02-28 23:59:47       238.0
 3126398               B02765  2015-02-28 23:59:48        90.0
 3126399               B02765  2015-02-28 23:59:51       141.0
 3126400               B02765  2015-02-28 23:59:59        79.0

 [3126401 rows x 3 columns],
         Dispatching_base_num          Pickup_date  locationID
 0                     B00029  2015-03-01 00:02:00       213.0
 1                     B00029  2015-03-01 00:03:00        51.0
 2                     B00029  2015-03-01 00:11:00         3.0
 3                     B00029  2015-03-01 00:11:00       259.0
 4                     B00029  2015-03-01 00:13:00       174.0
 ...                      ...                  ...         ...
 3281422               B02765  2015-03-31 23:58:00       238.0
 3281423               B02765  2015-03-31 23:59:00       132.0
 3281424               B02765  2015-03-31 23:59:00        48.0
 3281425               B02765  2015-03-31 23:59:00       263.0
 3281426               B02765  2015-03-31 23:59:00       138.0

 [3281427 rows x 3 columns],
         Dispatching_base_num          Pickup_date  locationID
 0                     B00001  2015-04-01 04:30:00         NaN
 1                     B00001  2015-04-01 06:00:00         NaN
 2                     B00001  2015-04-01 06:00:00         NaN
 3                     B00001  2015-04-01 06:00:00         NaN
 4                     B00001  2015-04-01 06:15:00         NaN
 ...                      ...                  ...         ...
 3917784               B02809  2015-04-30 11:57:00         NaN
 3917785               B02809  2015-04-30 13:30:00         NaN
 3917786               B02809  2015-04-30 14:00:00         NaN
 3917787               B02809  2015-04-30 14:00:00         NaN
 3917788               B02809  2015-04-30 15:37:00         NaN

 [3917789 rows x 3 columns],
         Dispatching_base_num          Pickup_date  locationID
 0                     B00001  2015-05-01 04:30:00         NaN
 1                     B00001  2015-05-01 05:00:00         NaN
 2                     B00001  2015-05-01 05:05:00         NaN
 3                     B00001  2015-05-01 06:15:00         NaN
 4                     B00001  2015-05-01 06:15:00         NaN
 ...                      ...                  ...         ...
 4296062               B02821  2015-05-31 14:00:00         NaN
 4296063               B02821  2015-05-31 14:32:00         NaN
 4296064               B02821  2015-05-31 14:45:00         NaN
 4296065               B02821  2015-05-31 17:44:00         NaN
 4296066               B02821  2015-05-31 18:13:00         NaN

 [4296067 rows x 3 columns]]

In [12]:
print(type(list_taxi_df[0]))

<class 'pandas.core.frame.DataFrame'>

In [13]:
print(list_taxi_df[0].head())

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN

In [14]:
taxi_loop_concat = pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)

(17367717, 3)

In [15]:
print(taxi.equals(taxi_loop_concat))

True